
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.form-container {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 450px;
    background-color: #f9f9f9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 15px;
}

.form-container input,
.form-container select,
.form-container button {
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    border: 1px solid #cccccc00;
    border-radius: 20px;
}

.form-container button {
    background: #820adf;
    color: white;
    cursor: pointer;
    border: none;
}

.form-container button:hover {
    background: #6208a7
}

.step {
    display: none;
}

.active {
    display: block;
}

.frase-cabecalho {
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.placeholder {
    font-size: 16px;
    font-weight: 400;
}

.combo {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.579);
}

.logo-framja {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    margin-left: 25px;
    margin-top: 10px;
    height: 10%;
    width: 10%;
}

.botao-olhinho {
    width: 50px !important;
}

.botao-step {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-container input {
    width: 100%;
    padding-right: 40px; /* Espaço para o ícone */
    padding-left: 10px;
}

.input-container .botao-olhinho {
    position: absolute;
    right: 0px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #666;
}

.input-container .botao-olhinho:hover {
    color: #333;
}

.termos-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o texto e o checkbox */
    font-size: 15px;
}

.termos-container input {
    width: 15px;
    height: 15px;
    cursor: pointer;

}

.termos-de-uso {
    text-decoration: none;
    color: #820adf;
    font-weight: 200;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #820adf; /* Cor de fundo */
    color: white; /* Cor de texto */
    padding: 10px 0;
    text-align: center; 
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Centraliza os itens */
    gap: 18px; /* Espaço entre os itens */
    padding: 0;
    margin: 0;
}

footer li {
    display: inline;
    font-size: 10px;

}

@media (max-width: 768px) {
    .form-container {
        width: 100%;
        right: auto;
        left: 0;
        height: 100vh;
        box-shadow: none;
    }

    .main-content {
        justify-content: center;
        align-items: center;
    }

    footer li {
        font-size: 30px;
    }
}